<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Looking to buy a new computer? Overwhelmed by all of the options available to you? Stressed by the high cost of computers today? For most people, buying a new computer does not have to be as stressful as buying a new car. Nor does it have to be as expensive. At leosoft technologies we got you coverd</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">company</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">about</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">developer</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">app source</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">services</a></li>
                </ul>
            </div>   
                     
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 leosofttechnologies
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>