<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="{%url 'home'%}" class="brand-logo">Leosofttechnologies</a>

        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Desktops</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Phones</a></li>
            <li><a href="#">Routers</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Developer</a></li>
            <li><a href="#">Repairs</a></li>
            <li><a href="#">Contactus</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="#">support</a></li>
            <li>
                <a href="#"><i class="large material-icons">search</i></a>
            </li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Desktops</a></li>
    <li><a href="#">Laptops</a></li>
    <li><a href="#">Phones</a></li>
    <li><a href="#">Routers</a></li>
    <li><a href="#">Electronics</a></li>
    <li><a href="#">Developer</a></li>
    <li><a href="#">Repairs</a></li>
    <li><a href="#">Contactus</a></li>
    <li><a href="{% url 'about'%}">About</a></li>
    <li><a href="#">support</a></li>    
</ul>